<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:utext="${title}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:utext="${title}" />
<a th:href="@{/v1/view/karyawan}">Karyawan List</a>
<br/><br/>
<div>Copyright © dariawan.com</div>
</body>
</html>