<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Karyawan List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Karyawan List</h1>

<div>
    <nobr>
        <a th:href="@{/v1/view/karyawan/add}">Add Karyawan</a> |
        <a th:href="@{/v1/view/}">Back to Index</a>
    </nobr>
</div>

<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>NIK</th>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Tanggal Lahir</th>
            <th>Alamat</th>
            <th>NPWP</th>
            <th>Status</th>
            <th>Edit</th>
        </tr>
        <tr th:each ="karyawan : ${karyawanlst}">
            <td><a th:href="@{/v1/view/karyawan/{karyawanId}(karyawanId=${karyawan.id})}" th:utext="${karyawan.id}">...</a></td>
            <td th:utext="${karyawan.detailkaryawan?.nik}">...</td>
            <td><a th:href="@{/v1/view/karyawan/{karyawanId}(karyawanId=${karyawan.id})}"  th:utext="${karyawan.nama}">...</a></td>
            <td th:utext="${karyawan.jeniskelamin}">...</td>
            <td th:utext="${karyawan.tanggallahir}">...</td>
            <td th:utext="${karyawan.alamat}">...</td>
            <td th:utext="${karyawan.detailkaryawan?.npwp}">...</td>
            <td th:utext="${karyawan.status}">...</td>
            <td><a th:href="@{/v1/view/karyawan/{karyawanId}/edit(karyawanId=${karyawan.id})}">Edit</a></td>
        </tr>
    </table>
</div>
<br/><br/>
<div>
    <nobr>
        <span th:if="${hasPrev}"><a th:href="@{/v1/view/karyawan?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
        <span th:if="${hasNext}"><a th:href="@{/v1/view/karyawan?page={next}(next=${next})}">Next</a></span>
    </nobr>
</div>
</body>
</html>