<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>View Karyawan</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>View Karyawan</h1>
<a th:href="@{/v1/view/karyawan}">Back to Karyawan List</a>
<br/><br/>
<div th:if="${karyawan}">
  <table border="0">
    <tr>
      <td>ID</td>
      <td>:</td>
      <td th:utext="${karyawan.id}">...</td>
    </tr>
    <tr>
      <td>NIK</td>
      <td>:</td>
      <td th:utext="${karyawan.detailkaryawan?.nik}">...</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>:</td>
      <td th:utext="${karyawan.nama}">...</td>
    </tr>
    <tr>
      <td>Jenis Kelamin</td>
      <td>:</td>
      <td th:utext="${karyawan.jeniskelamin}">...</td>
    </tr>
    <tr>
      <td>Tanggal Lahir</td>
      <td>:</td>
      <td th:utext="${karyawan.tanggallahir}">...</td>
    </tr>
    <tr>
      <td>Alamat</td>
      <td>:</td>
      <td th:utext="${karyawan.alamat}">...</td>
    </tr>
    <tr>
      <td>NPWP</td>
      <td>:</td>
      <td th:utext="${karyawan.detailkaryawan?.npwp}">...</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>:</td>
      <td th:utext="${karyawan.status}">...</td>
    </tr>
  </table>
  <br/><br/>
  <div th:if="not ${allowDelete}">
    <a th:href="@{/v1/view/karyawan/{karyawanId}/edit(karyawanId=${karyawan.id})}">Edit</a> |
    <a th:href="@{/v1/view/karyawan/{karyawanId}/delete(karyawanId=${karyawan.id})}">Delete</a>
  </div>
  <form th:if="${allowDelete}" th:action="@{/v1/view/karyawan/{karyawanId}/delete(karyawanId=${karyawan.id})}" method="POST">
    Delete this karyawan? <input type="submit" th:value="Yes" />
  </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>