<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${add} ? 'Add new Karyawan:' : 'Edit Karyawan:'" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${add} ? 'Add new Karyawan:' : 'Edit Karyawan:'" />
<a th:href="@{/v1/view/karyawan}">Back to Karyawan List</a>
<br/><br/>
<form th:action="${add} ? @{/v1/view/karyawan/add} : @{/v1/view/karyawan/{karyawanId}/edit(karyawanId=${karyawan.id})}"
      th:object="${karyawan}" method="POST">
    <table border="0">
        <tr th:if="${karyawan.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${karyawan.id}">...</td>
        </tr>
        <tr>
            <td>NIK</td>
            <td>:</td>
            <td><input type="text" th:field="*{detailkaryawan.nik}" /></td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td><input type="text" th:field="*{nama}" /></td>
        </tr>
        <tr>
            <td>Jenis Kelamin</td>
            <td>:</td>
            <td><input type="text" th:field="*{jeniskelamin}" /></td>
        </tr>
        <tr>
            <td>Tanggal Lahir</td>
            <td>:</td>
            <td><input type="date" th:field="*{tanggallahir}" /></td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>:</td>
            <td><input type="text" th:field="*{alamat}" size="50" /></td>
        </tr>
        <tr>
            <td>NPWP</td>
            <td>:</td>
            <td><input type="number" th:field="*{detailkaryawan.npwp}" /></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>:</td>
            <td><input type="number" th:field="*{status}" /></td>
        </tr>
    </table>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>